@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    margin: 0;
    font-family: 'Inter';
    box-sizing: border-box;
}

body {
    background: #EDEEF3;
}

h1 {
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;
}

h3 {
    font-weight: 400;
    font-size: 21px;
    line-height: 36px;
}

.container {
    width: 1000px;
    margin: 0 auto;
}